.single-taxonomy-main{

    .priority-section{
        background: $white;
    }

    .no-pad-btm{
        padding-bottom: 1px !important;
    }

    .padded-section-nd{
        padding: 0 0 100px; 
    }


}
