@keyframes marqueeToLeft {
	0%{ 
        transform: translateX(0%); 
    }
	100%{ 
        transform: translateX(-100%); 
    }
}

@keyframes marqueeToRight {
	0%{ 
        transform: translateX(-100%); 
    }
	100%{ 
        transform: translateX(0%); 
    }
}