.single-post-main{
    .content-section{
        background-color: $white;
        .content-container{
            .header-section{
                .go-back{
                    color: $black;
                    .back-button{
                        overflow: hidden;
                        font-size: 16px;
                        font-family: 'Gellix', sans-serif;
                        font-weight: 500;
                        color: $blue;
                        display: inline-block;
                        position: relative;
                        top: 10px;
                        transform: rotate(180deg);
                        left: -15px;
                        .arrow-right{
                            border: solid $black;
                            border-width: 0 2px 2px 0;
                            display: inline-block;
                            padding: 3px;
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            margin-left: -12px;
                            margin-right: 10px;
                            text-decoration: none;
                        }
                        &:before{
                            background-color: $black;
                            content: "";
                            display: inline-block;
                            height: 2px;
                            position: relative;
                            vertical-align: middle;
                            width: 25px;
                            transition: 0.5s all;
                        }
                    }
                    .section-title{
                        font-size: 20px;
                        font-family: "Gellix",sans-serif;
                        font-weight: 500;
                        margin: 0px;
                        padding-bottom: 5px;
                        margin-bottom: 30px;
                    }
                }
                .post-title{
                    color: $blue;
                }
            }
            .text-section{
                padding: 65px 0px 35px;
                .post-publish-date{
                    font-size: 16px;
                    font-family: "Gellix",sans-serif;
                    font-weight: 400;
                    margin: 0px;
                    padding-bottom: 30px;
                    display: block;
                }
            }
        }
    }
}

@media only screen and (min-width: $breakpointLarge){
    .single-post-main{
        .content-section{
            .content-container{
                .header-section{
                    .go-back{
                        position: relative;
                        .back-button{
                            position: absolute;
                            top: 6px;
                            bottom: 0;
                            left: -75px;
                            margin: auto;
                            height: fit-content;
                            &:before{
                                width: 45px;
                            }
                        }
                    }
                }
                .text-section{
                    width: 85%;
                    margin: 0 auto;
                }
            }
        }
    }
}